body {
    background-color: #3f3f69;
    color: #f7f7f7;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
        "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans - serif;
    font-size: 18px;
}
